* {
    position: relative;
    margin: 0; 
    padding: 0; 
}
.sections { 
    background-color: #4ABDAC;
    color: black;
    height: 100vh;
}
.toolbar {
    position: fixed;
    left: 0%;
    top: 50%;
    width: 10%;
    z-index: 100;
}
.info {
    background-color:#99CED4;
    width: 80%;
    left: 10%;
    height: 100vh;
}
#name {
    font-family: 'Catamaran', sans-serif;
    text-align: center;
    font-size: 108px;
    position: relative;
    top: 20%;
}

#links {
    top: 30%;
    position: relative;
}

#intro-text {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 40px;
    position: relative;
    top: 20%;
}
.social-icon {
    -webkit-transition: -webkit-transform ease-out 0.1s;
	-moz-transition: -moz-transform ease-out 0.1s;
	transition: transform ease-out 0.1s;
}

.social-icon:hover {
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-ms-transform: scale(1.25);
	transform: scale(1.25);
    color: blue;
    opacity: 1.0;
    /*animation: sonarEffect 0.5s ease-out 75ms;*/
}

ul {
    overflow: auto;
    position: relative;
}
 
ul li {
    list-style-type: none;
}

#github {
    left: 50%;
    position: relative;
}

#linkedin {
    left: 40%;
    position: relative;
}

.section-title{
    font-family: 'Catamaran', sans-serif;
    font-size: 100px;
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
    font-size: 30px;
}
.section-description{
    font-family: 'Open Sans', sans-serif;
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
}
