* {
    margin: 0; 
    padding: 0;
}

body {
    /* Background pattern from Subtle Patterns */
    background-image: url("congruent_outline.png");
}
#intro {
    height: 60vh;    
}
.section {
    background-color: #FFFFFF;
    width: 60%;
    left: 20%;
    margin: 20px 0px 0px 20px;
    position: relative;
}
#name {
    font-family: 'Catamaran', sans-serif;
    text-align: center;
    font-size: 108px;
    position: relative;
    top: 20%;
}

#links {
    top: 25%;
    position: relative;
}

#intro-text {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 40px;
    position: relative;
    top: 20%;
}
.social-icon {
    -webkit-transition: -webkit-transform ease-out 0.1s;
	-moz-transition: -moz-transform ease-out 0.1s;
	transition: transform ease-out 0.1s;
}

.social-icon:hover {
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-ms-transform: scale(1.25);
	transform: scale(1.25);
    color: blue;
    opacity: 1.0;
    /*animation: sonarEffect 0.5s ease-out 75ms;*/
}

#github {
    left: 40%;
    position: relative;
}

#linkedin {
    left: 30%;
    position: relative;
}
.split {
    height: 40vh;
    position: relative;
}
.left-title {
    transform: translateY(-50%);
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 40px;
    width: 50%;
    top: 50%;
    float: left;
}
.right-description {
    position: absolute;
    transform: translateY(-50%);
    width: 50%;
    top: 50%;
    left: 50%;
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}